html {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    overflow-y: hidden;
}

body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

#content {
    height: 100%;
    width: 300%;
}

#wrapper {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
}

a {
    color: #000000;
    text-decoration: none;
}

#cover {
    background-image: url(../images/billiards1.jpg);
    background-size: cover;
    height: inherit;
    width: 33.3333334%;
}

#announcements {
    background-image: url(../images/billiards2.jpg);
    background-size: cover;
    height: inherit;
    margin-left: 100%;
    /*margin-top: -820px;*/
    width: 33.3333334%;
}

#schedule {
    background-image: url(../images/billiards3.jpg);
    background-size: cover;
    height: inherit;
    width: 33.3333334%;
    margin-left: 200%;
    /*margin-top: -820px;*/
}
